header {
  width: 100%;
  height: var(--header-hight);
  border-bottom: 2px #f3f3f3 solid;
  position: fixed;
  background-color: #ffffff;
  z-index: 8000;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    a.logo{
      height: 100%;
      width: 10%;
      position: relative;
      display: inline-block;
      &::after{
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
      }
      object {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .search_bar {
      margin: auto 0;
      align-items: center;
      background-color: #ffffff;
      border: 1px solid #DDDDDD;
      border-radius: 40px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
      color: #222222;
      display: inline-flex;
      max-width: 100%;
      text-align: left;
      transition: box-shadow 0.2s ease;
      vertical-align: middle;

      svg{
        padding-left: 45px;
      }

      select {
        padding: 0px 0px 0px 30px;
        font-size: 14px;
        font-weight: 450;

        width: 250px;
        appearance: none;
        background: transparent;
        border: 1px solid transparent;
        color: inherit;
        cursor: pointer;
        display: flex;
        font-family: inherit;
        margin: -1px;
        outline: none;
        overflow: visible;
        text-align: inherit;
        text-decoration: none;
        user-select: auto;
        align-items: center;
        border-radius: 4px;
        flex: 0 1 auto;
        height: 48px;
        min-width: 0;
        position: relative;
        z-index: 1;
      }
    }

    .userprofile{
      margin: auto 0;
      display: flex;
      border-radius: 40px;
      border: 1px solid #DDDDDD;
      padding: 8px;
      color: #000000;
      *{
        padding: 8px;
        &.user{
          border-radius: 40px;
          background-color: #CCC;
        }
      }
    }
  }
}

.clearfix{
  width: 100%;
  height: var(--header-hight);
}