.listing {
  width: auto;
  height: 250px;
  .content {
    width: auto;
    height: 225px;
    margin-left: 8px;
    margin-right: 8px;

    .data {
      width: auto;
      height: 100%;
      display: flex;

      .graph {
        background-color: #ddd;
        border-radius: 12px;
        width: 300px;
        height: 200px;
        position: relative;
        background-size: cover;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        .tag {
          position: absolute;
          left: 10px;
          top: 10px;
          background-clip: padding-box;
          background-color: rgba(255, 255, 255, 0.95);
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          display:flex;
          justify-content: center;
          min-width: 20px;
          width: fit-content;
          padding: 4px 8px;
          span {
            font-size: 12px;
            line-height: 16px;
            overflow: clip;
            text-overflow: ellipsis;
            display: -webkit-box;
            font-weight: 700;
            letter-spacing: 0.04em;
            text-transform: uppercase;
          }
        }
      }

      .body {
        margin-left: 14px;
        max-width: 50%;
        .topsubtitle{
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          color: #717171;
          font-size: 12px;
        }
        .title{
          word-break: break-all;
          font-size: 16px;
          line-height: 24px;
          overflow: clip;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        .seperator {
          margin: 11px 0 0 0;
          border-top: 1px solid #DDDD;
          width: 32px;
        }

        .info{
          margin-top: 9px;
          font-size: 12px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          min-height: 18px;
          color:#717171;
          font-weight: 400;
          .dash{
            margin:  0 5px 0 0;
          }
        }
        .reviews{
          position: relative;
          top: 105px;
          color: #222222;
          font-weight: 600;
          font-size: 12px;
          svg{
            width: 15px;
            color: #FF385C;
            margin-right: 5px;
          }
          .outof{
            display: inline;
            margin-left:5px;
            font-weight: 400;
            color: #717171;
          }
        }

      }
    }

    .seperator {
      height: 1px;
      background-color: rgb(221, 221, 221);
      width: 100%;
    }
  }
}
