/*
 * Main style sheet
 */

:root {
  --header-hight: 70px;
}

html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: "Montserrat", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  height: 100% !important;

  @media (min-width: 375px) {
    max-width: 327px;
  }

  @media (min-width: 744px) {
    max-width: 664px;
  }

  @media (min-width: 950px) {
    max-width: 870px;
  }

  @media (min-width: 1128px) {
    max-width: 968px;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
}
